financial_data_articles_raw/speeches/1_raw_txt
financial_data_articles_raw/speeches/BIS_speeches_2021_03_03
data/merged_finance_1w_2w.csv
data/merged_finance_1w_2w_split01.csv
data/merged_finance_1w_2w_split02.csv
data/merged_finance_1w_2w_split03.csv
data/merged_finance_1w_2w_split04.csv
data/autoupzippeddata/*